include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .fullscreen-section
        section.section.main
          section.paralax
            .layer(data-speed='0').first
            .layer(data-speed='5').second
            .layer(data-speed='10').third
          section.maincontent
            include ./layout/header.pug
            include ./layout/mainTitle.pug
            include ./layout/scroll.pug
        section.section.aboutme
          include ./layout/aboutme.pug
        section.section.skills
          include ./layout/skills.pug
        section.works
          .container.works__container
            .section-title.works__section-title Мои работы
            .works__content
              #slider-component 
        section.section.contact
          include ./layout/contact.pug
        footer.footer
          include ./layout/footer.pug