.footer-content
  .footer-content__left
    .footer-content__year
      | © 2019
    .footer-content__personal-info
      .footer-content__fio
        | Томилин Аркадий
      .footer-content__position
        | Личный сайт веб-разработчика
  .footer__right
    .header__menu.header__menu--footer
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href='#2' alt='Ссылка на страницу главная' data-title='Главная')
              | Главная
          li.nav__item
            a.nav__link(href='#3' alt='Ссылка на страницу обо мне' data-title='Обо мне')
              | Обо мне
          li.nav__item
            a.nav__link(href='#4' alt='Ссылка на страницу навыки' data-title='Навыки')
              | Навыки
          li.nav__item
            a.nav__link(href='#5' alt='Ссылка на страницу Работы' data-title='Работы')
              | Работы
          li.nav__item
            a.nav__link(href='#6' alt='Ссылка на страницу Отзывы' data-title='Отзывы')
              | Отзывы
          li.nav__item
            a.nav__link(href='#7' alt='Ссылка на страницу обратная связь' data-title='Связаться')
              | Обратная связь
    .footer__right--down
      .basement-left
        .basement-left__text
          | Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
        .basement-left__social
          ul.socials.socials--footer
            li.socials__item.socials__item--footer
              a.socials__link(href='index.html')
                svg.percentage--footer(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle(cx='50', cy='50', r='40')
                    .overlay-footer
                      .icon-insta.icon--footer
            li.socials__item.socials__item--footer
              a.socials__link(href='index.html')
                svg.percentage--footer(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle(cx='50', cy='50', r='40')
                    .overlay-footer
                      .icon-vk.icon--footer
            li.socials__item.socials__item--footer
              a.socials__link(href='index.html')
                svg.percentage--footer(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle(cx='50', cy='50', r='40')
                    .overlay-footer
                      .icon-git.icon--footer
      .basement-right
        .basement-right__text
          | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
        .basement-right__fio
          | Martin Golding
