.content__skills
  .skills-left
    +image('content/img/hands.png', 'user-pic')
  .skills-right
    .skills-right__title
      | Чем я могу быть полезен вам
    .skills-right__subtitle
      | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    ul.competence
      li.competence__item
        .competence-row
          .competence-row__title
            | Front-end
          ul.competence-row__list
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -10s')
                .overlay
                  .skill__subtitle
                    | HTML5
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -30s')
                .overlay
                  .skill__subtitle
                    | CSS3
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -50s')
                .overlay
                  .skill__subtitle
                    | JS
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -80s')
                .overlay
                  .skill__subtitle
                    | Jquery и Vue.js
      li.competence__item
        .competence-row
          .competence-row__title
            | Workflow
          ul.competence-row__list
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -10s')
                .overlay
                  .skill__subtitle
                    | GIT
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -30s')
                .overlay
                  .skill__subtitle
                    | Terminal
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -50s')
                .overlay
                  .skill__subtitle
                    | Gulp
            li.competence-row__item
              .skill
                svg.percentage(viewbox='0 0 100 100', preserveaspectratio='none')
                  circle.skill__circle.skill__circle--under(cx='50', cy='50', r='40')
                  circle.skill__circle.skill__circle--above(cx='50', cy='50', r='40', style='animation-delay: -80s')
                .overlay
                  .skill__subtitle
                    | Webpack